{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="{% static 'tuck_assets/style3.css' %}">
</head>
<body>
    <div class='container'>
    <div class='window'>
      <div class='order-info'>
        <div class='order-info-content'>
          <h2>Order Summary</h2>
                <div class='line'></div>
            {% for item in order.items.all %}
                <table class='order-table'>
                    <tbody>
                    <tr>
                        <td><img src="{{ item.product.image.url}}" alt="{{ item.product.product_name }}" class='full-width'></img>
                        </td>
                        <td>
                        <br> <span class='thin'>{{ item.product.product_name }}</span>
                        <br><span class='thin small'> {{ item.product.product_category }}</span>
                        <br><span class='thin small'>Unit Price: {{ item.product.price }} x {{ item.quantity }}</span>
                        
                        </td>
        
                    </tr>
                    <tr>
                        <td>
                        <div class='price' name='price' id="price">GHC {{ item.get_total_price }}</div>
                        </td>
                    </tr>
                    </tbody>
        
                </table>
                <div class='line'></div>
            {% empty %}
                <p>No products available.</p>

            {% endfor %}
          
          <div class='total'>
            <span style='float:left;'>
              <div class='thin dense'>Coupon</div>
              TOTAL
            </span>
            <span style='float:right; text-align:right;'>
              <div class='thin dense'>GHC 0</div>
              GHC <div name="total_price" id="total_price">{{ order.get_total_price }}</div>
            </span>
          </div>
  </div>
  </div>
        
          <div class='credit-info'>
            <div class='credit-info-content'>
              <form autocomplete="off" method="post" action="/tuckshop/order-confirmation/{{ order.id }}/">
                {% csrf_token %}
                <img src="{% static 'credit_card_illustration-removebg-preview.png' %}" height='80' class='credit-card-image' id='credit-card-image'></img>
                First Name
                <input class='input-field' id='fname' name='fname' required></input>
                Last Name
                <input class='input-field' id='lname' name='lname'></input>
                <table class='half-input-table'>
                  <tr>
                    <td> Student Code
                      <input class='input-field' autocomplete="off" name="student_code" type="text" id='student_code'></input>
                    </td>
                    <td>Pin
                      <input class='input-field' autocomplete="new-password" name="custom-username" type="password"></input>
                    </td>
                  </tr>
                </table>
                <button class='pay-btn' type="submit">Checkout</button>
             </form>
  
            </div>
  
          </div>
          </div>
         
  </div>
  
</body>
</html>