{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="{% static 'tuck_assets/style.css' %}">
</head>
<body>
    <header>
        <h1>Order Confirmation</h1>
    </header>
    <section>
        <h2>Thank you for your order!</h2>
        <ul>
            {% for item in order.items.all %}
                <li>{{ item.product.product_name }} - {{ item.quantity }} x GHC {{ item.product.price }}</li>
            {% endfor %}
        </ul>
        <p>Total: GHC {{ order.get_total_price }}</p>
    </section>
</body>
</html>
